/**
 * Created by Sjur on 17.03.2017.
 * Copied from what Jonas had done earlier.
 * Edit by Dag-Roger on 03.04.2017
 */


 #delete_product_yes {
   margin-right: 10px;
 }

 #toast-container>div {
   opacity: 1;
 }

 div.produktliste_wrapper {

 }

.float-right {
  float: right;
}
.ingredients-div-container {
  max-width: 600px;
}
.allergen-checkbox-div {
  max-width: 25px;
}

.allergen-titel {
  visibility: hidden;
}

.allergen-titel-mobile {

}

.ingredient-delete-button {
  background: red;
}

.custom-error-message {
  background-color: #F89406;
  color: #fff;
  padding: 10px;
  width: 24em;
}



div.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding-top: 18px;
  padding-bottom: 57px;
  padding-left: 18px;
  margin-top: 2px;
  font-size: 1.2em;
  transition: 0.4s;
}

div.accordion.active, div.accordion:hover {
  background-color: #218223;
  color: #fff;
}

div.accordion-content {
  width: 33%; /* Sett til 30% med thumbnail, hvis den tar 10%*/
  float: left;
  margin: 0;
  padding: 0;
}

.accordion-thumbnail-div {
  visibility: hidden;
  display: none;
}

.accordion-thumbnail {
  width: 82%;
  height: auto;
  margin: -18px;
}

.thumbnail-hide {
  visibility: hidden;
}

i.icon-placement {
  float: right;
  padding-right: 30px;
}


div.panel {
  padding: 0;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

img.accordion-image {
  width: 100%;
  height: auto;
  float: left;
  padding: 0;
  margin: 0;
}

.accordion-list {
  width: 73%;
  float: left;
  padding-left: 2%;
  margin: 0;
}

.panel h3 {
  margin-top: 15px;
}

@media screen and (min-width: 480px) {
  .allergen-titel {
    visibility: visible;
  }

  .allergen-titel-mobile {
    display: none;
    visibility: hidden;
  }


  div.accordion-content {
    width: 38%;
  }

  div.accordion-content:last-child {
    width: 10%;
  }

  .accordion-thumbnail-div {
    width: 12%;
    float: left;
    margin: 0;
    padding: 0;
    visibility: visible;
    display: block;
  }

  img.accordion-image {
      width: 35%;
  }

  .accordion-list {
    width: 63%;
    float: left;
    padding-left: 2%;
    margin: 0;
  }
}

@media screen and (min-width: 1200px) {
  div.produktliste_wrapper {
    width: 80%;
  }
}
.produktliste_existing_image {
    max-height: 30em;
}
